@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background:
    radial-gradient(900px 500px at 10% 10%, rgba(20,184,166,.15), transparent 60%),
    radial-gradient(700px 400px at 90% 20%, rgba(59,130,246,.15), transparent 55%),
    #0b0e11;
  color: #ffffff;
}
